#form { 
  font-size: 100px;
  color: #066a75;
  padding: 10px 0;
  font-family: Sans-serif;
  font-weight: bold;
  text-align: center;
  display: block;
  color:#242323;
  font-size:18px;
  float:center;
  width:100px;
  text-align:right;
  padding:15px 15px 0 0;

  padding:30px 30px;
  width:500px;
  background:#e0dfdf;
  border-bottom: 1px double #b4b4b4;
  border-top: 1px double #b4b4b4;
  border-left:1px double #b4b4b4;
  border-right:1px double #b4b4b4;

  
  
}

body{
  margin:10px;
}

h2{
  font-size: 48px;
  color: #066a75;
  padding: 10px 0;
  font-family: Sans-serif;
  font-weight: bold;
  text-align: center;
}

h1{
	font-size: 48px;
	color: #066a75;
	padding: 10px 0;
	font-family: Sans-serif;
	font-weight: bold;
	text-align: center;
  }

p{
  margin-bottom:15px;
}
p:first-child{
  margin: 0px;
}
label{
  display: center;
  color:#181818;
  font-size:20px;
  float:center;
  width:100px;
  text-align:right;
  padding:15px 15px 0 0;
}


/* Delete de produtos  */
#formdelete {
  margin:0 auto;
		width:700px;
		position:relative;
		top:50px;
		border:1px solid #727272;
	}
	

	
	
	
	div.formdelete label span {
		display: block;
		color:#242323;
		font-size:18px;
		float:left;
		width:100px;
		text-align:right;
		padding:15px 15px 0 0;
	}
	
	div.box20 .input_text {
		padding:10px 10px;
		width:500px;
		background:#e0dfdf;
		border-bottom: 1px double #b4b4b4;
		border-top: 1px double #b4b4b4;
		border-left:1px double #b4b4b4;
		border-right:1px double #b4b4b4;

}
