#form { 
  margin:5;
  padding:5;
  font-family: Arial,sans-serif;
  
    width: 5%;
    margin-top: 40px;
    padding: 100px;    
    border: 1px solid #b2b2b2;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
  
      width: 60%;
  margin-top: 10px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
  
  -webkit-border-radius: 3px;
  border-radius: 10px;

  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;

  

}

body{
  margin:10px;
}

h2{
  font-size: 48px;
  color: #066a75;
  padding: 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
}

p{
  margin-bottom:15px;
}
p:first-child{
  margin: 0px;
}
label{
  color: #262727;
  position: Center;
  
  
}
